@{
    ViewBag.Title = "Home Page";
}
<div>
    <select id="mySelect" onchange="myFunction()">
        <option value="Audi">Audi
        <option value="BMW">BMW
        <option value="Mercedes">Mercedes
        <option value="Volvo">Volvo
    </select>
</div>

<div>
    <input type="text" id="autoText" name="ResetButton" value="Reset" />
    @*// data-toggle="collapse" data-target="#demo"/>*@
    
    <div id="demo" style="z-index:100000;">
        <ul>
            <li >Bremen					49-421</li>
            <li>Frankfurt am Mein		49-69</li>
            <li>Hamburg					49-40</li>
        </ul>
    </div>
</div>


<div>

    @*<strong style="font-size:200%">Entrümpelung in Berlin</strong>*@
    <h1>Entrümpelung @ViewBag.Title</h1>
    <div class="klassen-tel text-center visible-xs" style="margin-top:5px;">
        <strong>Tel:<a style="color:white;" href="tel: 0982303018">098 230 30 18</a></strong>
    </div>
    <div>
        <h3>
            Fachbetrieb für Entrümpelung - Klassen Entrümpelung
            <br />
            1. Schnell  2. Sauber  3. Seriös
        </h3>
       
    </div>
    <div>
        Es steht eine Entrümpelung an? Klassen Entrümpelung in Berlin. ☎ <a href="tel: 0982303018">098 230 30 18</a>.<br> Wir helfen Ihnen! Wir räumen auf und hinterlassen nur Sauberkeit!
    </div>

    <div>
        <span>Wir beschäftigen uns mit:</span>
        <div class="underlineColor1">
            <br> ✔&nbsp; <a href="#Entrümpelung" id="test"> Entrümpelung</a>
        </div>
        <div class="underlineColor1">
            <br> ✔&nbsp; <a href="#Haushaltsauflösung">Haushaltsauflösung</a>
        </div>
        <div class="underlineColor1">
            <br> ✔&nbsp; <a href="#Wohnungsauflösung">Wohnungsauflösung</a>
        </div>
        <div class="underlineColor1">
            <br> ✔&nbsp; <a href="#Wohnungsräumung">Wohnungsräumung</a>
        </div>
        <div class="underlineColor1">
            <br> ✔&nbsp; <a href="#Tatortreiniger" class="underlineColor1">Tatortreiniger</a><br>
        </div>

    </div>

    <h1 style="font-weight:bold; font-size:120%;">Unser service</h1>

    <div class="row topMarge">
        <div class="col-xs-6 col-sm-6 ">
            <img class="fullWH" src="~/Content/IMG/clean2.jpg" />
        </div>
        <div class="col-xs-6 col-sm-6 ">
            <strong class="likeH2 text-center"><a name="Entrümpelung" class="underlineColor1" href="/Home/Entrümpelung">Entrümpelung</a></strong>
            <ul>
                <li>Firmenauflösung vom </li>
                <li>Fachbetrieb </li>
                <li>Lagerhallen </li>
                <li>Montagehallen </li>
                <li>Betriebsauflösung </li>
                <li>Nachtdemontagen </li>
            </ul>
        </div>
    </div>

    <div class="row topMarge">
        <div class="col-xs-6 col-sm-6 ">
            <img class="fullWH" src="~/Content/IMG/WorkerHome.jpg" />
        </div>
        <div class="col-xs-6 col-sm-6 ">
            <strong class="likeH2 text-center"><a id="test2" name="Haushaltsauflösung" class="underlineColor1" href="/Home/Haushaltsauflösung" style="word-break: break-word;">Haushaltsauflösung</a></strong>
            <ul>
                <li>Hausentrümpelungen von </li>
                <li>Dachböden </li>
                <li>Einfahrten </li>
                <li>Gärten </li>
                <li>Keller </li>
                <li>Besenrein </li>
            </ul>
        </div>
    </div>

    <div class="row topMarge">
        <div class="col-xs-6 col-sm-6 ">
            <img class="fullWH" src="~/Content/IMG/wohnungsaufloesung-berlin.jpg" />
        </div>
        <div class="col-xs-6 col-sm-6 ">
            <strong class="likeH2 text-center"><a name="Wohnungsauflösung" class="underlineColor1" href="/Home/Wohnungsauflösung" style="word-break: break-word;">Wohnungsauflösung</a></strong>
            <ul>
                <li>von Profis und Spezialisten </li>
                <li>bei Todesfällen</li>
                <li>Reinigungsservice</li>
                <li>Kellerentrümpelung</li>
                <li>Wohnungsentrümpelung</li>
            </ul>
        </div>
    </div>
    <div class="row topMarge">
        <div class="col-xs-6 col-sm-6 ">
            <img class="fullWH" src="~/Content/IMG/infoWorkers.jpg" />
        </div>
        <div class="col-xs-6 col-sm-6 ">
            <strong class="likeH2 text-center"><a name="Wohnungsräumung" class="underlineColor1" href="/Home/Wohnungsräumung" style="word-break: break-word;">Wohnungsräumung</a></strong>
            <ul>
                <li>Entsorgung</li>
                <li>Sperrmüll</li>
                <li>Restmüll</li>
                <li>Elektroschrott</li>
                <li>Glas</li>
                <li>Biomüll</li>
                <li>Lacke und Farben</li>
            </ul>
        </div>
    </div>

    <div class="row topMarge">
        <div class="col-xs-6 col-sm-6 ">
            <img class="fullWH" src="~/Content/IMG/tatortreiniger-small.jpg" />
        </div>
        <div class="col-xs-6 col-sm-6 ">
            <strong class="likeH2 text-center"><a name="Tatortreiniger" class="underlineColor1" href="/Home/Tatortreiniger" style="word-break: break-word;">Tatortreiniger</a></strong>
            <ul>
                <li>Leichenfundorten</li>
                <li>natürlichem Tod</li>
                <li>Mord</li>
                <li>Unfällen</li>
            </ul>
        </div>
    </div>

    @*<h1>ASP.NET body</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

</div>

<script type="text/javascript" language="javascript">
   

   
   
    $(document).ready(function () {
        $('#demo').collapse('hide');
        var tot = false;
        $("#autoText").click(tot,function (event) {

            console.log("Prevent default");
            tot = !tot;
            console.log(tot);
          //  event.preventDefault();
            if (tot)
            {
                $('#demo').collapse('show');
            }
            else
            {
                $('#demo').collapse('hide');
            }
            //$('#myCollapsible').collapse({
            //    toggle: tot
            //})
            //        console.log("Test autoinput");
            
            

        });
        //$(function () {
        //    $('input').keydown(function (e) {
        //        console.log("TEST");

        //        var t = $('#autoText').value;
        //        console.log(t);
        //        var tt = document.getElementById("autoText").value;
        //        console.log(tt);
        //        if (document.getElementById("autoText").value == '13') {
        //            console.log("Success");
        //            document.getElementById("autoText").value = "Test Etst";
        //        }
        //        else
        //        {
        //            console.log("Error");
        //        }
        //        //if (e.keyCode == 13) {
        //        //    $("input[value='OK']").focus().click();
        //        //    return false;
        //        //}
        //    });
        //});


      var i,k;
      var allAElements = document.getElementsByTagName('a');
      for (i = 0; i <allAElements.length; i++)
      {
          if(allAElements[i].getAttribute("href").charAt(0)=='#')
          {
              var aRefName = allAElements[i].getAttribute("href").substring(1);
              for(k=0;k<allAElements.length;k++)
              {
                  if(allAElements[k].getAttribute("name")==aRefName)
                  {
                      var elemTop = $(allAElements[k]).offset().top;
                      console.info(elemTop);

                      allAElements[i].addEventListener("click", setHandler(elemTop), false);
                  }
              }
          }
      }
  })

    function autoTextOnClick(event) {
        console.log("Prevent default");
        console.log(event);
        //return function autoT(event) {
        //    console.log("Prevent default1");
        //    event.preventDefault();
        //    {
        //        $('.collapse').collapse();
        //        console.log("Test autoinput");
        //        console.log(event);
        //    }
        //}
    }

    function setHandler(elemTop) {
      return function SmartScroll(event) {
          event.preventDefault();
          console.info(elemTop);

          $('body,html').animate({ scrollTop: elemTop - 60 }, 1500);
      }
  }
</script>
