<!-- ------------- 1st block SERVICES --------------- -->
<div class="box content">

    <h1>Entrümpelung in Berlin</h1>
    <p>Fachbetrieb für Entrümpelung - Rudi Rümpel</p>

    <ol>
        <li>Schnell</li>
        <li>Sauber
        <li>Seriös</li>
    </ol>
    <h3>Es steht eine Entrümpelung an?</h3>
    <p>
        Rudi Rümpel, Entrümpelung in Berlin. Wir helfen Ihnen! Wir räumen auf und hinterlassen nur Sauberkeit!
    </p>
    <h2>Wir beschäftigen uns mit:</h2>

    <div class="serviceWrapper">
        <div class="serviceItems">
            <img src="~/Content/IMG/service1.png" />
            <a href="">Entrümpelung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service2.png" />
            <a href="">Haushaltsauflösung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service3.png" />
            <a href="">Wohnungsauflösung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service4.png" />
            <a href="">Wohnungsräumung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service5.png" />
            <a href="">Tatortreiniger</a>
        </div>
    </div>

</div>
<!-- ------------- /1st block SERVICES --------------- -->
<!-- ------------- 2nd block CALLBACK --------------- -->
<div class="full-area callBack">
    <div class="CBPhonesWrapper">
        <p class="tittle">Berlin</p>
        <div class="headPnonesBlock">
            <div class="headPhonesImg1"></div><div class="headPhonesNumbers"><a href="callto:057182945878">0571. 829 45  878</a></div>
            <div class="headPhonesImg2"></div><div class="headPhonesNumbers"><a href="callto:057182945879">0571. 829 45  879</a></div>
        </div>
    </div>
    <div class="CBArrow"></div>
    <div class="CBPFormWrapper">

        <div class="CBInputWrapper">
            <p class="tittle">Noch Fragen?</p>
            <p class="tittle">Wir rufen Sie zurück!</p>
            <input placeholder="Name" />
            <input placeholder="Telefon*" />
            <input class="buttonSubmit" type="submit" value="Rückruf">
        </div>
    </div>
</div>
<!-- ------------- /2nd block CALLBACK --------------- -->