<!-- ------------- 1st block SERVICES --------------- -->
    @{
        string cityName = string.IsNullOrEmpty(ViewBag.City) ? string.Empty : ViewBag.City;
        string inCityName = string.IsNullOrEmpty(cityName) ? string.Empty : " in " + cityName;
    }

<div class="box content">

    <h1>Entrümpelung @inCityName</h1>
    <p>Fachbetrieb für Entrümpelung - Rudi Rümpel</p>

    <ol>
        <li>Schnell</li>
        <li>Sauber
        <li>Seriös</li>
    </ol>
    <h3>Es steht eine Entrümpelung an?</h3>
    <p>
        Rudi Rümpel, Entrümpelung in Berlin. Wir helfen Ihnen! Wir räumen auf und hinterlassen nur Sauberkeit!
    </p>
    <h2>Wir beschäftigen uns mit:</h2>

    <div class="serviceWrapper">
        <div class="serviceItems">
            <img src="~/Content/IMG/service1.png" />
            <a href="">Entrümpelung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service2.png" />
            <a href="">Haushaltsauflösung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service3.png" />
            <a href="">Wohnungsauflösung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service4.png" />
            <a href="">Wohnungsräumung</a>
        </div>
        <div class="serviceItems">
            <img src="~/Content/IMG/service5.png" />
            <a href="">Tatortreiniger</a>
        </div>
    </div>

</div>
<!-- ------------- /1st block SERVICES --------------- -->
<!-- ------------- 2nd block CALLBACK --------------- -->
<div class="full-area callBack">
    <div class="CBPhonesWrapper">
        <p class="tittle">Berlin</p>
        <div class="headPnonesBlock">
            <div class="headPhonesImg1"></div><div class="headPhonesNumbers"><a href="callto:057182945878">0571. 829 45  878</a></div>
            <div class="headPhonesImg2"></div><div class="headPhonesNumbers"><a href="callto:057182945879">0571. 829 45  879</a></div>
        </div>
    </div>
    <div class="CBArrow"></div>
    <div class="CBPFormWrapper">

        <div class="CBInputWrapper">
            <p class="tittle">Noch Fragen?</p>
            <p class="tittle">Wir rufen Sie zurück!</p>
            <input placeholder="Name" />
            <input placeholder="Telefon*" />
            <input class="buttonSubmit" type="submit" value="Rückruf">
        </div>
    </div>
</div>
<!-- ------------- /2nd block CALLBACK --------------- -->
<!-- ------------- /3rd block SERVICES DETAILS --------------- -->
<div class="full-area SDWrapperOut">
    <div class="box">
        <div class="SDTittleLine"></div>
        <h2 class="SDTittle">DIENSTLEISTUNGEN</h2>
        <div class="SDTittleLine"></div>
        <div class="SDWrapper">
            <div class="SDItemImg" style="background:url('/Content/IMG/serviceBG1.jpg');">
                <div class="SDItem">
                    <img src="~/Content/IMG/service1.png" class="SDImg" />
                    <div class="SDItemTittle">Entrümpelung</div>
                    <div class="SDText">
                        <ul class="SDList">
                            <li>Firmenauflösung vom</li>
                            <li>Fachbetrieb</li>
                            <li>Lagerhallen</li>
                            <li>Montagehallen</li>
                            <li>Betriebsauflösung</li>
                            <li>Nachtdemontagen</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="SDItemImg" style="background:url('/Content/IMG/serviceBG2.jpg');">
                <div class="SDItem">
                    <img src="~/Content/IMG/service2.png" class="SDImg" />
                    <div class="SDItemTittle">Haushaltsauflösung</div>
                    <div class="SDText">
                        <ul class="SDList">
                            <li>Hausentrümpelungen von</li>
                            <li>Dachböden</li>
                            <li>Einfahrten</li>
                            <li>Gärten</li>
                            <li>Keller</li>
                            <li>Besenrein</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="SDItemImg" style="background:url('/Content/IMG/serviceBG3.jpg');">
                <div class="SDItem">
                    <img src="~/Content/IMG/service3.png" class="SDImg" />
                    <div class="SDItemTittle">Wohnungsauflösung</div>
                    <div class="SDText">
                        <ul class="SDList">
                            <li>von Profis und Spezialisten</li>
                            <li>bei Todesfällen</li>
                            <li>Reinigungsservice</li>
                            <li>Kellerentrümpelung</li>
                            <li>Wohnungsentrümpelung</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="SDItemImg" style="background:url('/Content/IMG/serviceBG4.jpg');">
                <div class="SDItem">
                    <img src="~/Content/IMG/service4.png" class="SDImg" />
                    <div class="SDItemTittle">Wohnungsräumung</div>
                    <div class="SDText">
                        <ul class="SDList">
                            <li>Entsorgung</li>
                            <li>Sperrmüll</li>
                            <li>Restmüll</li>
                            <li>Elektroschrott</li>
                            <li>Glas</li>
                            <li>Biomüll</li>
                            <li>Lacke und Farben</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="SDItemImg" style="background:url('/Content/IMG/serviceBG5.jpg');">
                <div class="SDItem">
                    <img src="~/Content/IMG/service5.png" class="SDImg" />
                    <div class="SDItemTittle">Tatortreiniger</div>
                    <div class="SDText">
                        <ul class="SDList">
                            <li>Reinigung durch unser</li>
                            <li>Spezialteam von</li>
                            <li>Leichenfundorten</li>
                            <li>natürlichem Tod</li>
                            <li>Mord</li>
                            <li>Unfällen</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="SDItemImg">
                <div class="SDItem SDAbout">
                    <div class="promoLogo"></div>
                    <div class="promoBox promoBox1">
                        <span>QUALITY</span>
                        <span class="desc">GUARANTED</span>
                    </div>
                    <div class="promoBox promoBox2">
                        <span>BEST</span>
                        <span class="desc">SERVICE</span>
                    </div>
                    <div class="promoBox promoBox3">
                        <span>HIGH</span>
                        <span class="desc">SPEED</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------------- /3rd block SERVICES DETAILS --------------- -->
<!-- -------------  4th block TURTORIALS --------------- -->

<div class="full-area TurtorialsWrapperOut">
    <div class="box">
        <div class="turtorialsTittleLine"></div>
        <h2 class="turtorialsTittle">BEWERTUNGEN</h2>
        <div class="turtorialsTittleLine"></div>
        <div class="turtorialsWrapper">
            <div class="turtorialsItem">
                <div class="avatar" style="background-image:url(/Content/IMG/no-photo.gif);"></div>
                <div class="turtorialText">
                    <div class="tittle">
                        Entrümpelung in 27472 Cuxhaven
                    </div>
                    <div class="text">
                        Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.
                        Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.
                        <p>Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.</p>

                    </div>
                </div>
                <div class="turtorialsGallery">
                    <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
                    <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
                </div>
            </div>
            <div class="turtorialsItem">
                <div style="background-image:url(/Content/IMG/no-photo.gif);" class="avatar"></div>
                <div class="turtorialText">
                    <div class="tittle">
                        Entrümpelung in 27472 Cuxhaven
                    </div>
                    <div class="text">
                        Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.
                        <p>Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.</p>
                        Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.
                        <p>Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.</p>

                    </div>
                </div>
                <div class="turtorialsGallery">
                    <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
                    <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
                    <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
                </div>
            </div>
            <div class="turtorialsItem">
                <div class="avatar" style="background-image:url(/Content/IMG/no-photo.gif);"></div>
                <div class="turtorialText">
                    <div class="tittle">
                        Entrümpelung in 27472 Cuxhaven
                    </div>
                    <div class="text">
                        Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.
                        Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.
                        <p>Ich bin sehr zufrieden mit den Dienstleistungen des Unternehmen und würde sie bei Bedarf wieder in Anspruch nehmen. Vielen Dank nochmal an die ganze Mannschaft für die tolle Arbeit.</p>

                    </div>
                </div>
                <div class="turtorialsGallery">
                    <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
                </div>
            </div>
        </div>
        <div class="turtorialsLink">
            <a href="#">Schreib eine Bewertung</a>
        </div>
        <div class="turtorialsLink">
            <a href="#">Weitere Bewertungen</a>
        </div>
    </div>
</div>

<!-- ------------- /4th block TURTORIALS --------------- -->

