@model Entrumpelung.Models.CustomerReview
<div class="turtorialsWrapper">
    <div class="turtorialsItem">
        <div class="avatar" style="background-image:url(/Content/IMG/no-photo.gif);"></div>
        <div class="turtorialText">
            <div class="tittle">
                Entrümpelung in @Model.CustomerCity
                <br/>
                Von @Model.CustomerName am @Model.ReviewDate
            </div>
            <div class="text">
                @Model.ReviewText
            </div>
        </div>
        @*<div class="turtorialsGallery">
                <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
            </div>*@
    </div>

    </div>

