@model Entrumpelung.Models.CustomerReview

@{
    ViewBag.Title = "SchreibBewertung";
}

<h2>SchreibBewertung</h2>
<div>

    @using (Ajax.BeginForm("SendReview",null, new AjaxOptions() { HttpMethod = "Post",OnSuccess = "UpdateReviews" } ,new { id= "formReview" }))
    {
        <input type="text" name="CustomerName" />
        <input type="text" name="ReviewText"/>
        <input type="submit" value="Send review" /> 
    }
   
</div>

<div class="target">

    @{
        Html.RenderPartial("ReviewCollectionView", (IEnumerable<Entrumpelung.Models.CustomerReview>)ViewBag.Reviews);
    }

   @*  //("ReviewView", (IEnumerable<Entrumpelung.Models.CustomerReview>)ViewBag.Reviews);

    @foreach (var r in (IEnumerable<Entrumpelung.Models.CustomerReview>)ViewBag.Reviews)
     {

     }*@
    
</div>
<script type="text/javascript">
    function UpdateReviews() {
        document.getElementById('formReview').reset();
       // $("#form1").reset;
        $('.target').load('/Updatereviews');
    }
</script>