.navbar
{
    background-color: #95E632;
    border-bottom : hidden;
    border-top-width : medium;
    border-top-color : #85E632;
    color : red; 
}

li:hover{
    background-color : deepskyblue;
}
.navbar-toggle
{
    background-color: #95C632;
}

.container
{
    border-color : red;
    border-width : 20px;
}

.klassen-tel
{
    /*border-bottom-width : 20px;*/
    border-bottom-color : rebeccapurple;
    background-color :rgba(255,0,0,1);
    border-radius: 5px;
    position : sticky;
    top: 0px;
    z-index : 5000;
    margin-bottom: 5px;
    height: 50px;
    width : 100%;
    font-size:200%;
    margin-top:20px;
}

.klassen-tel2
{
    /*border-bottom-width : 20px;*/
    border-bottom-color : rebeccapurple;
    background-color :rgba(255,0,0,1);
    border-radius: 5px;
    top: 0px;
    margin-bottom: 5px;
    font-size:200%;
    margin-top:20px;
}

#telephonist
{
    
    margin: auto;
    background-repeat : no-repeat;
    width : 100%;
   

}
a{
    word-break: break-all;
}

.topMarge{
    margin-top: 10px;
    margin-left: 0px;
}

.likeH2
{
    font-size:150%;
    text-align:center;
}
.fullWH
{
    width:100%;
    height:100%;
}

.underlineColor1
{
    margin-bottom:-12px;
}
